.message-editor-comp {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  background: #ffffff; }
  .message-editor-comp textarea {
    width: 100%;
    height: 0px;
    overflow: hidden;
    outline: none;
    resize: none;
    margin: 0;
    padding: 0.25em;
    box-sizing: border-box;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 0.0625em 0 0 0;
    font-family: inherit;
    font-size: 0.85em;
    line-height: 1.5;
    color: #212121; }
  .message-editor-comp button {
    display: inline-block;
    margin: 0.5em;
    padding: 0;
    outline: none;
    border: none;
    vertical-align: bottom;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    width: 2em;
    height: 2em;
    background: #673ab7;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0.125em 0.25em, rgba(0, 0, 0, 0.23) 0 0.125em 0.25em; }
    .message-editor-comp button[disabled] {
      background: #bdbdbd;
      box-shadow: none;
      pointer-events: none; }
      .message-editor-comp button[disabled] svg {
        fill: #757575; }
    .message-editor-comp button svg {
      height: 2em;
      width: 1.125em;
      user-select: none;
      line-height: 1;
      fill: #ffffff; }
